<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19-API-Generator</title>
</head>
<body>
    <div class="container">
        
        <div class="first-block">
            <h1>Welcome to the Covid-19-API-Generator</h1>
            <p>This is a simple API generator which provides you with informations regardin the number of Covid-19 patiens around the globe.</p>
        </div>

        <div class="second-block">
            <h2>routes to make API calls</h2>
            
            <div class="first-route">
                <h3>Get Total API </h3>
                <p>provides u with the total number of covid-19 patiens,deaths and recovered</p>
                <a href="/total">check it out</a>
            </div>

            <div class="second-route">
                <h3>Get API for all the countries</h3>
                <p>provides u with the  number of covid-19 patiens,deaths and recovered for all countries</p>
                <a href="/all">check it out</a>
            </div>

            <div class="third-route">
                <h3>Get API for based on countries </h3>
                <p>provides u with the total number of covid-19 patiens,deaths and recovered for specific countries</p>
                <p><code>The link starts with /country/CountryName</code></the> </p>
                <a href="/country/India">check it out for india</a>
            </div>

        </div>

    </div>
</body>
</html>